.rc-link-preview {
  display: none;
  position: fixed;
  width: 480px;
  height: 320px;
  border-radius: 8px;
  border: 2px solid #fff2;
  box-sizing: border-box;
  box-shadow: 0 0 12px #0002;
  opacity: 0;
  transition:
    opacity 1s ease,
    transform 0.5s ease;
  overflow: hidden;
  background-color: #0008;
  backdrop-filter: blur(24px);
  z-index: 999;
}

.rc-link-preview iframe {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  overflow: hidden; /* only works if same-origin content */
  scrollbar-width: none; /* Firefox */
}

.rc-link-preview iframe::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.rc-link-preview .close-btn {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: orangered;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  line-height: 14px;
  font-family: cursive;
  z-index: 999;
}
