/* override */

header {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

main {
  display: none !important;
}

#header {
  background-color: transparent !important;
  flex: 1 !important;
  color: black !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 1rem !important;
}

#header > h1 {
  filter: invert(1) !important;
}

#header > h1 > img {
  height: 92px !important;
}

#header .login {
  display: none !important;
}

.search-block form input[name="query"] {
  background-color: #00000012 !important;
  border-radius: 99px 0 0 99px !important;
  box-sizing: border-box !important;
  height: 48px !important;
  padding: 0 1.5rem !important;
  box-shadow: none !important;
  border-right: none !important;
  outline: none !important;
  border: none !important;
}

.search-block form select {
  background-color: #00000012 !important;
  height: 48px !important;
  padding: 0 1.5rem !important;
  cursor: pointer !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
.search-block form select::after {
  border: 2px solid #0005 !important;
  right: 0.85em !important;
  content: none !important;
}

.search-block form button {
  height: 47px !important;
  border-radius: 0 99px 99px 0 !important;
  padding: 0 2rem !important;
  font-size: 1rem !important;
}

.search-block form a {
  color: #0004 !important;
  transition: color 0.5s ease !important;
}

.search-block form a:hover {
  color: #0008 !important;
  text-decoration: none !important;
}

.search-block form .help {
  color: #0002 !important;
  text-align: left !important;
  margin-top: 1rem !important;
  padding-left: 1.5rem !important;
}

footer {
  margin-top: 0 !important;
}
