.reface--fps-indicator {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  left: 20px;
  padding: 16px 32px;
  background-color: #000;
  border: 1px solid #fff2;
  border-radius: 8px;
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  cursor: pointer;
  transition: all ease 0.5s;
}

.reface--fps-indicator:hover {
  opacity: 1;
}
