canvas.reface__whiteboard-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.reface__whiteboard-panel {
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 8px;
  gap: 6px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 0 1px #fff4;
  background-color: #0002;
  border-radius: 14px;
}

.reface__whiteboard-btn {
  position: relative;
  cursor: pointer;
  padding: 4px 12px;
  color: white;
  box-shadow: 0 0 0 1px #fff4;
  background-color: #0005;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reface__whiteboard-picker {
  background-color: currentColor;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.reface__whiteboard-typing-btn {
  font-family: Roboto;
  font-size: 16px;
}

.reface__whiteboard-text-preview {
  position: absolute;
  display: none;
  transform: translateY(-100%); /* same as canvas text */
  line-height: 0.75;
  animation: typing 1s ease alternate infinite;
  transition: all ease 0.5s;
  padding-right: 6px;
}

@keyframes typing {
  from {
    border-right: 1px solid #fffc;
  }
  to {
    border-right: 1px solid #fff2;
  }
}
