.reface--whiteboard {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-family: sans-serif;
}

.reface--whiteboard > canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.reface--whiteboard-panel {
  pointer-events: all;
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 8px;
  gap: 9px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 0 2px #fff2;
  background-color: #0002;
  border-radius: 14px;
}

.reface--whiteboard-settings {
  pointer-events: all;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 74px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 8px;
  gap: 6px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 0 2px #fff2;
  background-color: #0002;
  border-radius: 14px 14px 0 0;
}

.reface--whiteboard-btn {
  position: relative;
  cursor: pointer;
  padding: 4px 12px;
  color: white;
  box-shadow: 0 0 0 2px #fff2;
  background-color: #0005;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reface--whiteboard-btn > img {
  width: 18px;
  height: 18px;
}

.reface--whiteboard-btn-active {
  box-shadow: 0 0 0 2px #fff9;
  background-color: #fff2;
}

.reface--whiteboard-dot {
  color: var(--reface--whiteboard-color);
  flex: 0 0 auto;
  background-color: currentColor;
  width: 8px;
  height: 8px;
  border-radius: 100%;
}

.reface--whiteboard-text-preview {
  position: absolute;
  transform: translateY(-100%); /* same as canvas text */
  animation: typing 1s ease alternate infinite;
  transition: all ease 0.5s;
  padding-right: 6px;
}

/* global */

.reface--whiteboard-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.reface--whiteboard-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reface--whiteboard-hidden {
  display: none;
}

/* Animations */

@keyframes typing {
  from {
    border-right: 1px solid #fffc;
  }
  to {
    border-right: 1px solid #fff2;
  }
}
