@import "tailwindcss";

@theme {
  --text-tiny: 0.625rem;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    @apply relative m-0 flex min-h-[100vh] min-w-80 flex-col place-items-center overflow-hidden;

    /* chrome extension */
    font-size: 100% !important;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  button {
    @apply cursor-pointer rounded-lg border-none bg-zinc-900 px-4 py-2 font-medium hover:bg-purple-700;
  }

  main {
    @apply flex-1;
  }
}

@layer components {
  #root-popup {
    @apply relative mx-auto flex min-h-80 w-full max-w-80 flex-col text-xs min-lg:border min-lg:border-white/5;
  }
  #root-options {
    @apply relative mx-auto my-auto flex h-160 max-h-[100vh] w-full max-w-160 flex-col text-xs min-lg:border min-lg:border-white/5;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    height: 0; /* hide horizontal scrollbar */
    width: 0;
  }
}
