@import "tailwindcss";

@theme {
  --text-tiny: 0.625rem;
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    @apply m-0 flex min-h-[100vh] min-w-80 place-items-center;

    /* chrome extension */
    font-size: 100% !important;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    @apply cursor-pointer rounded-lg border-none bg-zinc-900 px-4 py-2 font-medium hover:bg-purple-700;
  }

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
}

@layer components {
  #root {
    @apply mx-auto my-0 flex w-full max-w-80 flex-col gap-2 text-xs min-lg:border min-lg:border-white/5;
  }
}
