@import "tailwindcss";

@theme {
  --text-tiny: 0.625rem;
  --color-background: #242424;
  --color-foreground: #ffffff;
  --animate-slide-in: slide-in 0.25s ease both;
  --animate-slide-out: slide-out 0.25s ease both;

  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0%);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    @apply bg-background text-foreground select-none;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    @apply font-medium text-blue-500 hover:text-blue-600;
    text-decoration: inherit;
  }

  body {
    @apply relative m-0 flex h-[100vh] min-w-80 flex-col place-items-center overflow-hidden;

    /* chrome extension */
    font-size: 100% !important;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }

  button {
    @apply cursor-pointer rounded-lg border-none bg-zinc-900 px-4 py-2 font-medium hover:bg-purple-700;
  }

  main {
    @apply flex-1;
  }
}

@layer components {
  #root-popup {
    @apply relative mx-auto flex h-full min-h-100 w-full max-w-80 flex-col text-xs select-none min-lg:border min-lg:border-white/5;
  }
  #root-options {
    @apply relative mx-auto my-auto flex h-160 w-full max-w-160 flex-col text-xs min-lg:border min-lg:border-white/5;
  }

  .tiny-btn {
    @apply box-border cursor-pointer rounded-sm border border-white/2 bg-white/3 p-1 transition hover:border-white/5 hover:bg-white/10;
  }

  .icon-btn {
    @apply shrink-0 rounded-lg bg-white/5 p-1.5 backdrop-blur-2xl transition hover:bg-white/10;
  }

  .text-btn {
    @apply flex shrink-0 items-center gap-2 rounded-md bg-white/5 pr-3 pl-4 text-center transition hover:bg-white/10;
  }
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    @apply size-0;
  }

  /* list */

  .odd-color {
    @apply hover:bg-white/5;
  }

  .odd-color:nth-of-type(odd) {
    @apply bg-white/2 hover:bg-white/5;
  }

  /* buttons */

  .btn-primary {
    @apply bg-purple-600 text-center text-white transition hover:bg-purple-700 active:bg-purple-800;
  }

  .btn-red {
    @apply bg-red-400/3 text-red-400 hover:bg-red-400/10 active:bg-red-400/20;
  }

  .btn-green {
    @apply bg-green-300/3 text-green-400 hover:bg-green-400/10 active:bg-green-400/20;
  }

  .btn-yellow {
    @apply bg-yellow-300/3 text-yellow-400 hover:bg-yellow-400/10 active:bg-yellow-400/20;
  }

  /* icons */

  .icon-zoom {
    @apply size-4 transition group-hover:scale-105 group-active:scale-95;
  }

  .icon-jump {
    @apply size-5 transition group-hover:-translate-y-0.25 group-active:translate-y-0.25;
  }

  .icon-jump-reverse {
    @apply size-5 transition group-hover:translate-y-0.25 group-active:-translate-y-0.25;
  }

  .icon-rotate {
    @apply size-5 transition group-hover:-rotate-12 group-active:-rotate-45;
  }
}
